$padding-small:5px;
$padding-large-horizontal:330px;
$padding-large-vertical:50px;
$padding-small-vertical:10px;
$padding-small-horizontal:15px;
$margin-small-vertical:10px;
$margin-small-horizontal:15px;