npm-debug.log*
yarn-debug.log*
yarn-error.log*

yarn.lock
package-lock.json

node_modules
/git-*.sh*


# ------------------------ Windows.gitignore
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

.vscode/*

.idea/*