html{
    height:100%;
    width:100%;
}
body{
    height:100%;
    width:100%;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: "微软雅黑";
}
.page_header {
    position: fixed;
    width: 100%;
    height: 60px;
    margin:0px auto;
    border-collapse: collapse;
    background-color: steelblue;
}
.nav li{
    display: inline-block;
    padding: 8px 20px ;
    float: left;
    color: white;
}
.a_color{
    color: white;
    padding: 5px 1px;
}
.a_color:hover{
    text-decoration: none;
    background-color: #1d3e81;
}
.aside_menu{
    position:fixed;
    top: 60px;
    left: 0;
    bottom: 0 ;
    z-index: 11;
    width: 250px;
    min-height: 100%;
    background: #1e1f26;
    float: left;
}
.aside_menu li{
    margin: 20px 10px 30px;
    list-style: none;
}
.main_content {
    left: 300px;
    top:60px;
    right: 0;
    bottom: 25px;
    min-height: 100%;
    padding:60px 0 25px 300px;
    overflow: auto;
    background-color: aliceblue;
}
.example{
    border-radius: 5px;
    background-color: white;
}
.footer{
    width: 100%;
    height: 25px;
    background-color: gray;
    position: relative;
    bottom:0;
    left: 0;
    clear: both;
}
.footer address{
    text-align: center;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:active{
    text-decoration: underline;
}
